<div class="container">
  <h1>게시판입니다.</h1>
  <form action="/write" method="POST">
    <div class="form-group">
      <label for="exampleInputEmail1">글 제목</label>
      <input type="text" class="form-control" id="exampleInputEmail1" name="title">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">글 내용</label>
      <textarea name="content" class="form-control" id="exampleInputPassword1"></textarea>
    </div>
    <button type="submit" class="btn btn-default">전송완료</button>
  </form>
</div>